.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  font-family: "Russo One", sans-serif;
}
h2 {
  text-align: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 0.3rem;
  border: 1px solid rgb(16, 16, 52);
  border-radius: 1rem;
  box-shadow: 1px 5px 5px 6px rgb(16, 16, 52), 0 0 0 5px rgb(16, 16, 52);
}
